
/* .hero-section {
  background: linear-gradient(90deg, #0D032A 0%, #1A0C4B 50%, #FF297C 100%);
  color: white;
  padding: 50px 20px;
} */

.hero-section {
  background: linear-gradient(to right, #190c3f, #390b4c);
  color: white;
  padding: 50px 20px;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding-right: 20px;
}


.isvir-inline {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.isvir-logo {
  height: 90px;
  width: auto;
  margin-bottom: 10px;
}

.isvir-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero-title {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.hero-isvir {
  color: #00B6FF; 
}

.isvir-subtitle {
  margin: 0;
  font-size: 14px;
  color: #ddd;
  margin-bottom: 20px;
}

.hero-description {
  color: #d0d0d0;
  font-size: 18px;
  margin-bottom: 30px;
}


.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  margin-bottom: 25px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  background-color: #f13c83;
  color: white;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
}

.search-icon {
  color: #999;
  margin-left: 12px;
}


.popular-search span {
  font-weight: 500;
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #392a57;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
}


.hero-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 40px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 320px;
}

.stat-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 14px 20px;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
}

.stat-box span {
  background: #f13c83;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}


.doctor-img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-right {
    align-items: center;
    width: 100%;
  }

  .hero-title {
    font-size: 32px;
  }

  .search-bar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search-bar input {
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .search-bar button {
    width: 100%;
    border-radius: 0;
  }

  .stats {
    align-items: center;
  }

  .stat-box {
    justify-content: center;
  }
}
